/* .................common css style............... */
    body{
        font-family: 'Open Sans', sans-serif;
    }
/* ..............Banner section..................... */

.banner{
    padding: 150px 200px 100px 300px;
  }

  .paragraph-text{
    margin-bottom: 32px;
    color: #7c7778;
    line-height: 30px;
    font-size: 25px;
}

.header{
    background-color:#fceef1 ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
   
}
.banner-heading{
    font-size: 60px;
    font-weight: 800;
    margin-bottom: -13px;
}
.btn-primary{
    border-radius: 5px;
    background-color: #e55473;
    color: white;
    border: 0;
    font-size: 30px;
    padding: 22px 50px;
}
.banner-img{
    width: 585px;
}

/* ......Our Featured Flowers Section........... */
.feature_header{
    color: black;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}
.feature_discription{
    color: #7c7778;
    text-align: center;
    font-size: 25px;
}

.contain_image{
    display: flex;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
    gap: 30px;
    margin-bottom: 120px;
  }

.internal_image1{
height: 430px;
width: 1075px;
background-color: #f2deef;
border-top-right-radius: 80%;
border-top-left-radius: 80%;
padding-top: 70px;
padding-left: 50px;
padding-right: 50px;
  }

.internal_image2{
    height: 430px;
    width: 1075px;
    background-color: #d9eff1;
    border-top-right-radius: 80%;
    border-top-left-radius: 80%;
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
  }

.internal_image3{
    height: 432px;
    width: 1075px;
    background-color: #e3ebbd;
    border-top-right-radius: 80%;
    border-top-left-radius: 80%;
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .internal_paragrahp{
    font-size: 25px;
    margin-top: -130px;
    text-align: center;
  }

/* ......Hot Deal Section........... */
.hot-deal{
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-color: #fceef1;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 90px;
    margin-top: 20px;
    
}
.section-heading{
    color: black;
    text-align: center;
    font-size: 50px;
    margin-bottom: auto;
    font-weight: 700;
}
.hot-deal-description{
    color: #7c7778;
    text-align: center;
    font-size: 25px;
    padding: 30px 150px;
    margin: 2px;
}
.hot-deal-text{
    text-align: center;
}


/* ......Instagram section........... */
.lates-deal{
    max-width: 1140px;
    margin: 0 auto;
}

.all-instagram-img{
    display: flex;
    justify-content: space-around;
    max-width: 1140px;
    margin: 0 auto;
    padding-right: 20px;
    gap: 20px;
    
}
.instagram-description{
    color: #7c7778;
    text-align: center;
    font-size: 25px;
    padding: 10px 150px;
}
    
/* ......Extra Section........... */
.extra_section{
    background-color: #fceef1;
    background-image: url(../images/extra\ image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 80px;
    margin-top: 70px;
    background-size: cover;
  }

.extra_heading{
    color: black;
    text-align: center;
    font-size: 50px;
    padding-top: 150px;
    font-weight: 700;
}
.extra_description{
    color: white;
    text-align: center;
    font-size: 25px;
    padding-bottom: 100px;
}
.extra_heading span{
    color: #e55473;
}

/* ........Latest Deal Section........... */

.latest_deal{
    text-align: center;
    background: url(../images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    max-width: 1140px;
    margin: 0 auto;
    background-size: cover;
    padding-bottom: 100px;
    padding-left: 120px;
    padding-right: 130px;
    padding-top: 50px;  
    margin-top: 60px; 
    margin-bottom: 60px;
}
.email-form{
    padding-top: 37px;
    padding-right: 476px;
    padding-bottom: 24px;
    font-size: 13px;
    border: none;
    background-color: #d9eff1;
    border-radius: 5px; 
}
.latest-deal-heading{
    color: black;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: auto;
    padding-top: 30px;
}
.latest-section-description{
    color: #7c7778;
    text-align: center;
    font-size: 25px;
}

  .email-form{
    padding-top: 10px;
    padding: 15px 230px;
    border: none;
  }
  
/* ......Footer Flower Shop Section........... */
.footer_contain{
    background-color: black;
}
.footer-heading{
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: auto;
    padding-top: 150px;
} 
.footer-description{
    color: white;
    text-align: center;
    font-size: 25px;
}
span{
    color: #e55473;
}
.footer_color{
    color: #7c7778;;
    text-align: center;
    font-size: 18px;
    padding-bottom: 80px;
}




